<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4pj0m880oGpC8rHwmSZOW5LCeEP6xsfw</string>
	<key>GCM_SENDER_ID</key>
	<string>332532868582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blendBristo</string>
	<key>PROJECT_ID</key>
	<string>blend-bristo</string>
	<key>STORAGE_BUCKET</key>
	<string>blend-bristo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332532868582:ios:ad6a41bc8f575e745ca227</string>
</dict>
</plist>